/* 
 * Name: Skelly
 * Author: PJ Bell
 * Date: November 8, 2017
 * Version: 1.0.0
 */
* {
    margin:0;
    padding:0;
    border:0;
}
a {
    color:#000;
    text-decoration: none;
}
html,body {
    height:100%;
    font-family:'Helvetica', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
.center {
    text-align:center;
}
section {
    position:relative;
    margin:0;
    padding:0;
}
section.full {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    position:relative;
}
section.auto {
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    position:relative;
}
.box-full {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    position: relative;
    top: 0;
    left: 0;
}
.box-full .wrapper {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}
.clear {
    clear:both;
}
.transition,
.transition:hover {
    -webkit-transition-property: width, color, background, margin, padding, opacity, border, text-indent, top, bottom, left, right;
    -webkit-transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property: width, color, background, margin, padding, opacity, border, text-indent, top, bottom, left, right;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property: width, color, background, margin, padding, opacity, border, text-indent, top, bottom, left, right;
    -o-transition-duration: .2s;
    -o-transition-timing-function: linear, ease-in
}
.wf {
    border:1px solid #000;
}
.hide {
    display:none;
}

/* === Colors === */
.light {
    color:#fff;
}
.light-bg {
    background:#fff;
}
.dark {
    color:#000;
}
.dark-bg {
    background:#000;
}


/* === Navigation === */
nav.shadow {
    box-shadow: 0px 3px 3px #efebeb; 
}
nav.fixed {
    position:fixed;
    z-index:999999;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
nav {
    width:100%;
    height:80px;
}
nav ul:first-child {
    float:left;
}
nav ul:last-child {
    float:right;
}
nav ul:first-child li:first-child {
    margin-left:25px;
}
nav ul:last-child li:last-child {
    margin-right:25px;
}
nav ul li {
    display:inline;
    line-height:80px;
    margin-right:20px;
}
nav ul li a:hover {
    color:#666;   
}
nav ul li.brand {
    margin-right:30px !important;
    font-weight:800;
    font-size:20px;
}
nav ul li.nav-btn a {
    border:1px solid #000;
    padding:10px 15px 10px 15px;
}
nav ul li.nav-btn a:hover {
    background:#000;
    color:#fff;
}

/* === Footer === */
footer {
    width:100%;
    height:80px;
}
